.filter-container{

    background:white;

    padding:20px;

    border-radius:12px;

    margin-bottom:20px;

    box-shadow:0 2px 10px rgba(0,0,0,.1);

}

.total-box{

    margin-top:15px;

    font-size:20px;

    font-weight:bold;

    color:#198754;

}
